.wrap > .container{
    margin: 0;
    padding: 0;
    padding-top: 70px;
    width: 100vw;
}

.navbar-inverse{
    height: 70px;
}

.logo{
    height: 45px;
}

.featurette-divider {
    margin: 40px 0;
}

.marketing{
    width: 90vw;
}

.col-md-4{
    width: 25%;
}

.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner img {
  height: 90vh !important;
}

.site-tests{
    margin-top: 20px;
}

.col-md-4{
    text-align: center;
}

.img_m{
    width: 50px;
}

